{% extends 'heritagesites/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <!-- safe filter on for raw HTML stored in database -->

    <h2>{{country_area.country_area_name}}</h2>


    {% if country_area.m49_code %}
      <div class="row">
        <div class="col-sm-2">
          <p>M49 Code</p>
        </div>
        <div class="col-sm-10">
          {{country_area.m49_code}}
        </div>
      </div>
    {% endif %}


    {% if country_area.iso_alpha3_code %}
      <div class="row">
        <div class="col-sm-2">
          <p>ISO Alpha 3 Code</p>
        </div>
        <div class="col-sm-10">
          {{country_area.iso_alpha3_code}}
        </div>
      </div>
    {% endif %}


    {% if country_area.location.region.region_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Region</p>
        </div>
        <div class="col-sm-10">
          {{country_area.location.region.region_name}}
        </div>
      </div>
    {% endif %}


    {% if country_area.location.sub_region.sub_region_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Subregion</p>
        </div>
        <div class="col-sm-10">
          {{country_area.location.sub_region.sub_region_name}}
        </div>
      </div>
    {% endif %}


    {% if country_area.location.intermediate_region.intermediate_region_name %}
      <div class="row">
        <div class="col-sm-2">
          <p>Intermediate Region</p>
        </div>
        <div class="col-sm-4">
          {{country_area.location.intermediate_region.intermediate_region_name}}
        </div>
      </div>
    {% endif %}


    {% if country_area.dev_status %}
      <div class="row">
        <div class="col-sm-2">
          <p>Development Status</p>
        </div>
        <div class="col-sm-4">
          {{country_area.dev_status}}
        </div>
      </div>
    {% endif %}
  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}
{% endblock content %}
